/**
 * TODO: use CSS Variables
 * TODO: use modern CSS
 * TODO: use unCSS or FF tool to find what which ones are not being used
 */

/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/* enable sane box model */
/* https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

/* CSS variables */

:root {
  --base-font-family: "Lucida Grande", Tahoma, Verdana, Roboto, sans-serif;
  --serif-font-family: Georgia, Times, "Times New Roman", serif;
  
  --base-font-size:   16px;
  --small-font-size:  calc(var(--base-font-size) * 0.875);
  --base-line-height: 1.5;
  
  --spacing-unit:     30px;
  --left-right-padding: 130px;
  
  --text-color:       #000;
  --background-color: #fdfdfd;
  --brand-color:      #2a7ae2;
  --footer-background-color: #ccc;
  
  /* // tags and category */
  --category-text-color: white;
  /* //$tag-background-color: $brand-color; */
  /* // LIGHT */
  /* // $category-background-color: gray; */
  /* // $tag-background-color: lightgray; */
  /* // DARK */
  --tag-background-color: #AAA;
  --category-background-color: #888;
  
  /* Code */
  --code-font-family: consolas, menlo, monaco, 'andale mono', monospace;
  --code-font-size: 16px;
  
  --header-height: 250px;
  /* --article-title-padding: 50px 0; */
  
  /* Width of the content area */
  
  --content-width:   1000px;
  --max-content-width: 1600px; 
  
  --two-column-main-percent: 70%;
  --two-column-sidebar-percent: 30%;
  --on-palm:          640px;
  --on-laptop:        1000px;
  
  /* // Twitter, Github, RSS icons (inline SVG) */
  --social-icon-color: Gray; 

}

/**
 * Basic styling
 */
body {
  font-family: var(--base-font-family);
  font-size: var(--base-font-size);
  line-height: var(--base-line-height);
  font-weight: 400; 
  color: var(--text-color);
  background-color: var(--background-color);
  -webkit-text-size-adjust: 100%; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
.highlight {
  margin-bottom: calc(var(--spacing-unit)/2);}

/**
 * Images
 */
img {
  max-width: 100%;
  /* ensures responsiveness of image */
  vertical-align: middle; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: var(--spacing-unit); }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: 400; }

h1 {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: var(--serif-font-family);
  border-bottom: 1px solid #eee; 
}

h2 {
  font-size: 1.3rem; }

h3, h4, h5, h6 {
  font-size: 1.2rem; }

/* Add padding to h1 since it looks strange without it
	TODO: move this to .article-list/title instead?
	h1,h2 is also used commonly for markdown text, 
	so I used similar style from github's markdown examples.
*/
h1, h2 {
  margin-top: 1em; }

/* h1, draw line after text */

/**
 * Links
 */
a {
  color: var(--brand-color);
  text-decoration: none; }
  a:hover {
    color: var(--text-color);
    text-decoration: underline; }

/**
 * Blockquotes
 */
blockquote {
  color: Gray;
  border-left: 4px solid LightGray;
  padding-left: calc(var(--spacing-unit)/2);
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 *
 *
 */
pre,
code {
  font-family: var(--code-font-family);
  font-size: var(--code-font-size);
  border: 1px solid lightGray;
  border-radius: 3px;
  color: lightGray;
  padding: 8px 12px;
  overflow-x: auto;
  white-space: pre-wrap; /* enable word-wrap  */
  background-color: #222;
  }

code{
  padding: 1px 5px; }

pre{
}
  pre > code {
    border: 0;
    background-color: initial; /* allow Chroma/pygment color to show and not be overriden */
    padding-right: 0;
    padding-left: 0; }

/**
 * Icons
 Renamed from .icon to .social-icon
 */
.social-icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .social-icon > svg path {
    fill: var(--social-icon-color); }

/* wraps around main area, including content and sidebar */
/* responsive */
main {
  width: 100%;
  margin: 0 auto;
  padding: 20px; }

aside {
  box-sizing: border-box;
  margin: 1rem;
  padding: 20px; 
  padding: 1rem; 
  background-color: #CAA;
}

.two-column-content {
  width: 100%; }

  /* GOOD */
@media screen and (min-width: 640px) {
  .two-column-content {
    width: var(--two-column-main-percent);
    float: left; }

  aside {
    width: var(--two-column-sidebar-percent);
    float: left; } }


/* Tag Detail page contains multi-column
 May rename to something else, in case tags are not 2 col
*/
.tag-detail {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2; }

/**
	Here only for historical reason?
 * Wrapper - Original Jekyll wrapperc
	Useful for main content wrapper
	* has significant left,right margin 
 */
.wrapper {
  max-width: var(--max-content-width);
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--left-right-padding);
  padding-left: var(--left-right-padding);
  padding-bottom: 1em;
}

/* mobile and small screen */ 
/* @media screen and (max-width: var(--on-laptop)) { */
@media screen and (max-width: 1000px) { 
    .wrapper {
      padding-right: calc(var(--spacing-unit));
      padding-left: calc(var(--spacing-unit));  }
    }

/* Clearfix */
.wrapper:after, .group:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Site header
 */
.site-header {
  min-height: 56px;
  position: relative;
  height: var(--header-height); }

.site-header a:link {
  text-decoration: none; }

.site-title {
  font-family: var(--serif-font-family);
  font-size: 3em;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left;
  text-shadow: 2px 2px 8px black, -2px -2px 8px black; }

  .site-title, .site-title:visited {
    color: white; }

.article-title-in-header {
  color: white;
  text-transform: capitalize;
  font-family: var(--serif-font-family);
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.55);
  text-shadow: 2px 2px 8px black, -2px -2px 8px black; 
  margin-bottom: 0px;
  width: 100%;
  left: 0px;
  bottom: 0;
  position: absolute;
  text-align: center; }

  /*
.article-title-in-header2 {
  color: white;
  font-size: 1.5em;
  background-color: rgba(0, 0, 0, 0.55);
  margin-bottom: 0px;
  width: 100%;
  left: 0px;
  top: 210px;
  position: absolute;
  text-align: center; }
  */


/* SITE NAVIGATION */
/* Laptop */
.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: black ;
    line-height: 1.5;
    text-transform: uppercase;
    /* -webkit-text-stroke: 1px white; */
    text-shadow: 2px 2px 8px white, -2px -2px 8px white;
  }

    .site-nav .page-link:not(:first-child) {
      margin-left: 20px; }

/* Phone / small screen */
  /* @media screen and (max-width: var(--on-palm)) { */
  @media screen and (max-width: 639.9px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 30px;
      background-color: var(--background-color);
      border: 1px solid LightGray;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: DarkGray; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px; } 
      }

/**
 * Site footer
 */
/* footer except for last line */
.footer-main {
  /* background-color: #ccc; */
  background-color: var(--footer-background-color);
  padding: 20px 20px 0px 20px; }

.tag-list,
.footer-latest-posts,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: Gray;
  margin-left: calc(-1*var(--spacing-unit)/2); /* unfortunately, this is the only way to negate variable */
  /* margin-left: -15px;  */
}

/* FOOTER normal - 3 columns -  desktop / laptop / wide-view */
.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 { width: 30%; }
.footer-col-2 { width: 30%; }
.footer-col-3 { width: 40%; }

.footer-last-line {
  font-size: .8em;
  background-color: DarkGray;
  color: Gray;
  text-align: center; }

.footer-last-line a { color: Gray; }

/* Medium view - footers are 2 column */
@media screen and (min-width: 400px) and (max-width: 767.9px)  {
  .footer-col-1,
  .footer-col-2 {
    /* width: -webkit-calc(50% - (30px / 2)); */
    /* width: calc(50% - (30px / 2)); } */
    width: -webkit-calc(50% - (var(--spacing-unit) / 2)); 
    width: calc(50% - (var(--spacing-unit) / 2)); 
}
  .footer-col-3 {
    /* width: -webkit-calc(100% - (30px / 2)); */
    /* width: calc(100% - (30px / 2));  */
    width: -webkit-calc(100% - (var(--spacing-unit) / 2)); 
    width: calc(100% - (var(--spacing-unit) / 2)); 
  } 
}
/* Narrow view - footers are 1 column */
@media screen and (max-width: 399px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (var(--spacing-unit) / 2)); 
    width: calc(100% - (var(--spacing-unit) / 2)); 
  } 
}
/**
 * 
 */
/* content area, main text */

article { font-size: 1em;
}
.article-meta {
  font-size: 14px;
  color: Gray; }

/* NOT USED??? */
/* partially based on http://www.wpbeginner.com/wp-themes/how-to-add-numeric-pagination-in-your-wordpress-theme/  */

.article-list {
  margin-left: 0;
  list-style: none; }
  .article-list > li {
    margin-bottom: 30px; }

.article-link {
  display: block;
  font-size: 24px; }

.pagination a,
.pagination a:hover,
.pagination .active a,
.pagination .disabled {
  color: #fff;
  text-decoration: none; }

.pagination {
  text-align: center; }

.pagination a,
.pagination a:hover,
.pagination .active a,
.pagination .disabled_link {
  cursor: pointer;
  background-color: #6FB7E9;
  border-radius: 3px;
  padding: 4px;
  padding: 0.2rem; }

.pagination .disabled_link {
  background-color: #DDD;
  cursor: auto; }

.pagination a:hover {
  background-color: #3C8DC5; }

a.category {
  padding: 0 .3em;
  font-size: .6em;
  letter-spacing: .05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: .3em;
  color: var(--category-text-color);
  background-color: var(--category-background-color);
  }

a.tag {
  padding: 0 .3em;
  font-size: .6em;
  letter-spacing: .05em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: .3em;
  color: var(--category-text-color);
  background-color: var(--tag-background-color);
  }


/* Youtube embed responsive */
	.video-wrapper {
		position: relative;
		padding-bottom: 56.25%; /* 16:9 */
		padding-top: 25px;
		height: 0;
	}
	.video-wrapper iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
  
