<!DOCTYPE html>
<html{{ with .Site.LanguageCode }} lang="{{ . }}"{{ end }}>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="{{ delimit .Keywords ", " }}" name="keywords">
    {{ $title := chomp (partial "article_title" .)}}
    <meta content="{{$title}}{{if not .IsHome}} - {{ .Site.Title}}{{end}}" property="og:title">
    <title>{{$title}}{{if not .IsHome}}-{{ .Site.Title}}{{end}}</title>
    <link rel="stylesheet" href="{{"css/main.css"|absURL}}" >
    <link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }}" href='{{"index.xml" | absURL}}' />

    <link rel="icon" sizes="16x16 32x32 48x48" href='{{"favicon.ico" | absURL}}' />
  
    {{ if and (not .IsHome) (.Site.Params.apricot.highlight.hljsEnabled ) }}
    {{ with .Site.Params.apricot.highlight.style }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/{{ . }}.min.css">
    {{ else }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/default.min.css"/>
    {{ end }}
    {{ end }}

  </head>
  <body>
    {{ partial "header" . }}
    {{ partialCached "nav" . }}
    
    <main class="wrapper">
      {{ block "main" . }}
      <!-- override in other pages -->
      {{ end }}
    </main>

    {{ partialCached "footer" . }}

    {{ if and (not .IsHome) (.Site.Params.apricot.highlight.hljsEnabled ) }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" ></script>
    {{ range .Site.Params.highlight.languages }}
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/{{ . }}.min.js"></script>
    {{ end }}
    <script>hljs.initHighlightingOnLoad();</script>
    {{ end }}

    {{ if .Site.GoogleAnalytics }} {{ template "_internal/google_analytics_async.html" . }} {{ end }}

    <script type="text/javascript" src='{{"js/main.js" | absURL}}'></script>

  </body>
</html>
