{{ define "main" }}
      {{ range sort .Paginator.Pages }}
      <article>
        <h1><a href="{{ .Permalink }}">{{ .Title }}</a>{{ if .Draft }} ::Draft{{ end }}</h1>

        <p class="post-meta">
        {{ .Date.Format "January 2, 2006" }}

        {{ if .Params.tags }}
          {{ partial "tags" .Params.tags }}
        {{ end }}
      </p>

        <section>
          {{ .Summary | plainify | safeHTML }}
          {{ if .Truncated }}
          <a class="read-more" href="{{ .Permalink }}"> [Read more...] </a>
          {{ end }}
        </section>
      </article>
      {{ end }}
  {{ partial "pager" . }}
{{ end }}
